# Force GitHub Linguist to recognise Lateralus sources.
# Remove once Lateralus is merged upstream into github-linguist/linguist.

*.ltl    linguist-language=Lateralus linguist-detectable=true
*.ltasm  linguist-language=Lateralus linguist-detectable=true
*.ltlm   linguist-language=Lateralus linguist-detectable=true
*.ltlml  linguist-language=Lateralus linguist-detectable=true
*.ltlcfg linguist-language=Lateralus linguist-detectable=true
*.ltlnb  linguist-language=Lateralus linguist-detectable=true
*.ltlc   linguist-language=Lateralus linguist-detectable=true
*.ltbc   linguist-language=Lateralus linguist-generated=true
